.parent {
  min-height: 100vh;
  min-width: 100vw;
  border: 1px solid white;
  box-sizing: border-box;

  /*  */
  position: relative;
  overflow: hidden;
}

.parent .circle {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(207, 207, 207, 0.322);
  border-radius: 100%;
  display: inline-block;

  /*  */
  position: absolute;

  /*  */
  transition: all;
  transition-duration: 150ms;
  z-index: 1;
}

.circle {
  -webkit-box-shadow: 0px 0px 125px 52px rgba(45, 255, 196, 0.85);
  -moz-box-shadow: 0px 0px 125px 52px rgba(45, 255, 196, 0.85);
  box-shadow: 0px 0px 125px 52px rgba(45, 255, 196, 0.85);
}
